<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom-green"> -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/">GRASSROOT ENGINEER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About me</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
        </ul>
       
        <app-login></app-login>
        
    </div>
</nav>