<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>ความปลอดภัย</h3>
            {{ unSafeUrl }}<br>

            <a [href]="unSafeUrl">Click Me !!</a><br>

            <a [href]="safeUrl">Click Me ok !!</a>

            <br><br>

            <iframe width="560" height="315" [src]="safeYoutube"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>

        </div>
    </div>
</section>