<section class="container">
    <div class="row">
        <div class="col-lg-12">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Courses</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Number of Audients</th>
                    <th scope="col">Tools</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.c_detail }}</td>
                    <td>{{ product.c_date }}</td>
                    <td>{{ product.c_view | number }}</td>
                    <td>
                        <a [routerLink]="['/product', product.id, product.c_title]">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</section>