/* You can add global styles to this file, and also import other style files */

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-custom-green {
    background-color: #4CAF50; /* This is a green shade, adjust the hex value to the green you want */
}